body {
  color: #ecfee8;
  background: #0f0c29; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@font-face {
  font-family: "OpenSans";
  src: url("/fonts/OpenSans-Regular.ttf") format("truetype");
}

.App p {
  text-align: justify;
  font-family: "Open Sans", sans-serif;
  color: #e9f4ff;
}

.App h1 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #b3b7ee;
}

.App h2 {
  text-align: justify;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #b3b7ee;
}

.App h3 {
  text-align: justify;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #b3b7ee;
}

.App h4 {
  text-align: justify;
  font-family: "Montserrat", sans-serif;
  color: #b3b7ee;
}

.h5 {
  text-align: justify;
  font-family: "Montserrat", sans-serif;
  color: #b3b7ee;
  font-weight: bold;
  margin: 5px 0px 0 0;
}

a {
  color: #41337a;
}

a:visited {
  color: #41337a;
}

.game-embed {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #41337a !important;
  background-color: #f1e3e4 !important;
  border: #f1e3e4 !important;
  box-shadow: none !important;
}

.btn-primary:focus {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #41337a !important;
  background-color: #f1e3e4 !important;
  border: #f1e3e4 !important;
  box-shadow: none !important;
}

.btn-primary:active {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #41337a !important;
  background-color: #f1e3e4 !important;
  border: #f1e3e4 !important;
  box-shadow: none !important;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #41337a !important;
  background-color: #f1e3e4 !important;
  border: #f1e3e4 !important;
}

.btn:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #41337a !important;
  background-color: #f1e3e4 !important;
  border: #f1e3e4 !important;
}

.btn:active {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #41337a !important;
  background-color: #f1e3e4 !important;
  border: #f1e3e4 !important;
}

.btn:focus {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #41337a !important;
  background-color: #f1e3e4 !important;
  border: #f1e3e4 !important;
}

.navbar {
  background-color: #f1e3e4;
}

.navbar-light .navbar-brand {
  color: #724fd6;
  font-style: italic;
}

.game {
  background-color: #724fd6;
  margin: 10px;
  padding: 10px 14px;
  border-radius: 8px;
}

.card {
  background-color: #724fd6;
  margin: 10px;
  padding: 10px 14px;
  border-radius: 8px;
}

.footer {
  height: 100px;
  width: 100%;
  text-align: center;
  font-size: 15px;
}

.footer a {
  color: #b3b7ee;
}

.footer a:visited {
  color: #b3b7ee;
}

.footer a:hover {
  color: #b3b7ee;
}

hr {
  color: #724fd6;
}

.aboutme a {
  color: #b3b7ee;
}

.aboutme a:hover {
  color: #b3b7ee;
}

.aboutme a:visited {
  color: #b3b7ee;
}


